footer {

    width: 100%;
    padding: 10px 0;
    
  }
  
  footer img {
    max-width: 60px;
    margin: 0 auto;
  }
  
  footer img:not(:last-child) {
    margin: 0 auto
  }

  .foot{
    margin: 0 auto;
    padding: 20px;
  }